{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>

    <link rel="stylesheet" type="text/css" href="{% static "coderunner/css/style.css" %}">
    <script type="text/javascript" src="{% static "coderunner/js/capturetab.js" %}"></script>
    <script type="text/javascript" src="{% static 'coderunner/codemirror/js/jquery.min.js' %}">
    </script>
</head>

<body>
    {# Header #}
    <div id='container'>
        <div id="header">
            <div id='branding'>
                <h1>{{ logo }}</h1>
                <p>&lt; A powerful platform to code online <strong>/</strong>></p>
            </div>
            <div id='user-tools'>
                {% if user.is_authenticated %}
                    Welcome,
                    <strong>{{ user.username }}</strong>
                    . 
                    <a href="{% url 'password_reset' %}">Reset password</a>
                     / 
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    or
                    <a href="{% url 'coderunner:signup' %}">Signup</a>
                {% endif %}
            </div>
        </div>

        {# Body #}
        <div id="content">
            {% block content %}
                
            {% endblock content %}
        </div>

<!-- Temporarily remove the Footer part

    {# Footer #}
    <div id="footer">
        <p>&copy; Copy right 2018, <strong>{{ logo }}/></strong></p>
        <P>Powered by <strong>Django</strong></P>
    </div>
-->
    </div>

</body>
</html>
