{% extends "coderunner/base.html" %}
{% load staticfiles %}

{% block header %}
    <script type="text/javascript" src="{% static 'coderunner/codemirror/js/jquery.min.js' %}">
    </script>
    <script src="{% static 'coderunner/codemirror/plugins/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'coderunner/codemirror/plugins/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'coderunner/codemirror/plugins/theme/neo.css' %}">
    <link rel="stylesheet" href="{% static 'coderunner/codemirror/plugins/addon/display/fullscreen.css' %}">
    <script src="{% static 'coderunner/codemirror/plugins/addon/display/fullscreen.js' %}"></script>
    <script src="{% static 'coderunner/codemirror/plugins/mode/python/python.js' %}"></script>

{% endblock header %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9" style="padding-top: 35px;">

            <p class="heading">Question</p>
             <div class='shadow no-textarea'>
                <p>{{ question.question_text }}</p>
                <p class="heading">Description</p>
                <p><i>{{ question.question_desc }}</i></p>
                <p class="heading">Output format</p>
                <p>{{ question.output_format }}</p>
            </div>

            <div style="height: 40px;"></div>

            <div id='form' >
                <form action="{% url 'coderunner:program' question.id %}" method="post">
                    {% csrf_token %}
                    <div class='shadow'>
<textarea name="program" id="id_code_editor" style="border: none;">
{{ question.pre_code_snippet}}
</textarea>
- Press Esc to toggle full screen
                    </div>
                    <br>
                    <div style="float: right;">
                        <button type="button" name="button" class="btn btn-secodary" id="run">
                            Run
                        </button>
                        &nbsp;&nbsp;
                        <input type="submit" name="button" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
            
            <br><br>
            <div>
                <p class="heading">Result</h3>
                <div class="shadow">
<textarea id='id_result_area' style="border: none">
</textarea>
                </div>
            </div>
        
        </div>
 
        <!-- Question details section-->
        <div class="col-lg-3">
            <div id="content-related">
                <div class='shadow_detail'>
                    <p class="heading">Question details</p>
                    <div>
                        Author: 
                        <div style="position: relative;float: right;">
                            {{ question.author }}
                        </div>
                    </div>
                    {# <br> #}
                    <div>
                        Submitted: 
                        <div style="position: relative;float: right;">
                            {{ question.times_submitted }} time(s)
                        </div>
                    </div>
                    <div>
                        Pass percentage:
                        <div style="position: relative;float: right;">
                            {{ pass_percent }} %
                        </div>
                    </div>
                    <div>
                        Award:
                        <div style="position: relative;float: right;">
                            {{ question.score }} points
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of question details section-->

    </div>
</div>

{# CodeMirror - code editor instance #}
<script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById('id_code_editor'), {
        lineNumbers: true,
        mode: "python",
        indentUnit: 4,
        tabSize: 4,
        lineWrapping: true,
        // readOnly: "nocursor",
        theme: "neo",
        extraKeys: {
            "Tab": "indentAuto",
            "Esc": function(cm) {
            if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
            else cm.setOption("fullScreen", true);
        }},

    });
</script>

{# CodeMirror - result textarea instance #}
<script type="text/javascript">
    var result_area = CodeMirror.fromTextArea(document.getElementById('id_result_area'), {
        lineWrapping: true,
        readOnly: "nocursor",
        theme: "neo",
    });
</script>

{# Ajax call for running the code #}
<script type="text/javascript">
    $("#run").click(function () {
        var snippet = editor.getValue();

        $.ajax({
            type: 'POST',
            url: "{% url 'coderunner:run_code' question.id %}",
            data: {
                'snippet': snippet
            },
            dataType: 'json',
            success: function(data) {
                if (data){
                    var disp = '';
                    for ( var index in data.output ) {
                        disp += data.output[index] + '\n';
                    }
                    result_area.getDoc().setValue(disp);
                }
            }
        });
    });
</script>

{# Ajax call for linting #}
<script>
    editor.on("change", function () {
        var snippet = editor.getValue()

        $.ajax({
            type: 'POST',
            url: '{% url "coderunner:validate_program" %}',
            data: {
                'snippet': snippet
            },
            dataType: 'json',
            success: function(data) {
                if (data){
                    var disp = '';
                    for ( var key in data ) {
                        disp += "Line Number: " +
                            data[key].line_num + '   Error Message: ' +
                            data[key].error_message + '\n';
                    }
                    result_area.getDoc().setValue(disp);
                }
                else {
                    result_area.getDoc().setValue("Linting: success");
                }
            }
        });
    });
</script>

{% endblock content %}
