{% extends "registration/auth_base.html" %}

{% block auth_content %}
    {% if validlink %}
        <div class="col-lg-12">
            <div class='form1'>
                <h3 align="center">Enter new password</h3>
                <br>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group has-errors text-danger small">
                            {{field.errors}}
                        </div>
                        <div class="form-group">
                            {{field}}
                        </div>
                    {% endfor %}
                    <button class='btn btn-primary' type="submit">Change password</button>
                </form>
            </div>
        </div>
    {% else %}
        <p>
          The password reset link was invalid, possibly because it has already been used.
          Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}