{% load staticfiles %}

<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static "coderunner/css/style.css" %}">
</head>

<body>
  <div style="background: #4CAF50; height:100%; padding-top: 0; position:">
    <p style="padding-left: 15px; padding-top: 15px; font-size: 30px">{{logo}}</p>

    <!-- SIGNUP SHADOW BOX -->
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); width: 40%; min-height: 300px; overflow: hidden; background: white; margin: 50 auto;">
      <center>
        <br>
        <div style="width:90%">
            <form action="" method="post">
                {%csrf_token%}

                {% for field in form %}
                  <div class="form-group has-errors text-danger small">
                      {{field.errors}}
                  </div>
                  <div class="form-group">
                      {{field}}
                  </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary" style="width:100%">REGISTER</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">SIGN IN</a></p>
        </div>
      </center>
    </div>
    <!-- END OF SIGNUP BOX-->

  </div>
</body>