{% extends "registration/auth_base.html" %}

{% block auth_content %}
    <div class="col-lg-20">
        <div class='form1'>
            <h3 align="center">Forgot password!!!</h3>
            <br>
            <p>Confirm your email ID, you have registered with this account</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <p>Back to <a href="{% url 'login' %}">login</a></p>
        </div>
    </div>
{% endblock %}