{% extends "registration/auth_base.html" %}

{% block auth_content %}
    <div class="col-lg-20">
        <div class='form1'>
            <h3 align="center">Password change</h3>
            <br>
            <form action="" method="post">
                {%csrf_token%}

                {% for field in form %}
                  <div class="form-group has-errors text-danger small">
                      {{field.errors}}
                  </div>
                  <div class="form-group">
                      {{field}}
                  </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary" style="width:100%">CHANGE PASSWORD</button>
            </form>
            <p>Don't want to change? <a href="{% url 'coderunner:home' %}">Back Home</a></p>
        </div>
    </div>
{% endblock %}